.body{
    background-color: pink;
    width: 100vw;
    height: 100vh;
    text-align: center;

}

.simon{
    background-color: plum;
    color:white;
    height: 75px;
    width: 150px;
    font-size:xx-large;
    border: none;
}


.nelson{
    background-color: cornflowerblue;
    color:white;
    height: 75px;
    width: 150px;
    font-size:xx-large;
    border: none;

}
